version: "3.9"

services:

  # =======================
  # BACKEND (Spring Boot)
  # =======================
  backend:
    image: chungcr7/coffee-backend:latest
    container_name: coffee-backend
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - /home/ec2-user/coffee/uploads:/app/uploads
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/cafeshop?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 123456
    networks:
      - coffee_net

  # =======================
  # FRONTEND (React)
  # =======================
  frontend:
    image: chungcr7/coffee-frontend:latest
    container_name: coffee_frontend
    restart: always
    depends_on:
      - backend
    environment:
      VITE_API_BASE: "https://nhom2qtmapi.duckdns.org"
    ports:
      - "3000:80"
    networks:
      - coffee_net

  # =======================
  # MYSQL
  # =======================
  mysql:
    image: mysql:8.0
    container_name: coffee_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: cafeshop
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - coffee_net

  # =======================
  # PROMETHEUS
  # =======================
  coffee_prometheus:
    image: prom/prometheus:latest
    container_name: coffee_prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      - coffee_net

  # =======================
  # GRAFANA
  # =======================
  coffee_grafana:
    image: grafana/grafana:latest
    container_name: coffee_grafana
    restart: always
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - coffee_net

  # =======================
  # CADVISOR
  # =======================
  coffee_cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: coffee_cadvisor
    restart: always
    ports:
      - "8081:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - coffee_net

  # =======================
  # NODE EXPORTER
  # =======================
  coffee_node_exporter:
    image: prom/node-exporter:latest
    container_name: coffee_node_exporter
    restart: always
    network_mode: host
    pid: host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro

  # =======================
  # CADDY REVERSE PROXY
  # =======================
  caddy:
    image: caddy:latest
    container_name: coffee_caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - coffee_net


# =======================
# NETWORK
# =======================
networks:
  coffee_net:
    external: true

# =======================
# VOLUMES
# =======================
volumes:
  mysql_data:
  grafana_data:
  prometheus_data:
  caddy_data:
  caddy_config:
